@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Source Serif Pro', serif;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

.title-1 {
    font-size: 34px;
    font-weight: 600;
}

.btn {
    display: inline-block;
    padding: 10px 22px;
    background: linear-gradient(to left, #434343 , #232526, #828282);
    border-radius: 30px;
    background-size: 200%;
    transition: 0.6s;
    font-size: 18px;
    color: #fff;
}

.btn:hover, .btn:focus {
    background-position: right;
}

.btn:active {
    position: relative;
    top: 1px;
    background-color: #000000;
}


.kris {
    border-radius: 50%;
    margin-left: 100px;
}

/* Header */

.header {
    padding-top: 46px;
    background-color: #F1F1F1;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 76px;
}

.logo {
    font-family: 'Source Serif Pro', serif;
    position: relative;
    padding: 0 12px 3px 0;

    font-weight: 700;
    font-size: 44px;
    line-height: 1;
    color: #000;
}

.logo::after {
    position: absolute;
    right: 0;
    bottom: 0;

    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%;
}

/* Nav */

.nav-list {
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 14px;
}

.nav-button {
    display: none;
}

.nav-link {
    transition: 0.5s;
    font-size: 20px;
    color: #000;
}
.nav-link:hover {
    transition: 0.5s;
    font-size: 24px;
}

.nav-link.active {
    transition: 0.5s;
    color: #606060;
}
.nav-link.active:hover {
    transition: 0.5s;
    font-size: 24px;
}


/* Header content */

.header-row {
    display: flex;justify-content: space-between;
    column-gap: 30px;
}

.header-content {
    margin-top: 124px;
    max-width: 500px;
}

.header-heading {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 100px;
}

.header-content p {
    font-size: 17px;
    line-height: 2;
}

/* Service */

.services {
    padding: 90px 0;
}

.services-row {
    display: flex;
    column-gap: 100px;
    row-gap: 60px;
    flex-wrap: wrap;
}

.service-card {
    flex: 1 1 0;
    min-width: 315px;
}

.service-card-img {
    transition: 0.6s;
    margin-top: 200px;
    border-radius: 100px;
    margin-bottom: 30px;
}
.service-card-img:hover {
    transition: 0.6s;
    border-radius: 120px;
}

.service-card-title {
    padding-left: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
}

.service-card p {
    line-height: 2;
}

/* Portfolio */

.portfolio {
    padding: 90px 0;
    background-color: #F1F1F1;
}

.portfolio-title {
    margin-bottom: 70px;
    text-align: center;
}

.project {
    text-align: center;
}

.project + .project  {
    margin-top: 90px;
}

.project-img {
    margin-bottom: 40px;
}

.project-title {
    font-size: 18px;
}

.project-title a {
    color: #000;
    text-decoration: underline;
}

/* Footer */

.contacts {
    padding: 90px 0;
    text-align: center;
}

.contacts-title {
    margin-bottom: 40px;
}

.contacts-content {
    margin: 0 auto 40px;
    max-width: 480px;
    font-size: 18px;
}

.contacts-content p + p {
    margin-top: 1em;
}

.contacts-button {
    margin-bottom: 80px;
}

.contacts-social {
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    margin-bottom: 40px;
}
.contacts-footer {
    color: #828282;
}

.buy-btn {
    margin-left: 65px;
    display: inline-block;
    margin-top: 30px;
    padding: 20px 55px;
    background: linear-gradient( to left, #12D8FA, #f79d00, #64f38c);
    transition: 0.6s;
    background-size: 200%;
    border-radius: 100px;
    font-size: 18px;
}
.buy-btn:hover {
    background-position: right;
}
.buy-btn a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.h1-beats {
    margin-left: 530px;
    margin-top: 100px;
    position: absolute;
    text-align: center;
    font-size: 40px;
}

.square {
    border-radius: 14px;
    position: absolute;
    left: 500px;
    top: 1416px;
    height: 40px;
    width: 36px;
    background-color: red;
    color: #f1f3f7;
}
.square2 {
    position: absolute;
    border-radius: 14px;
    z-index: 3;
    top: 1416px;
    left: 750px;
    height: 40px;
    width: 36px;
    background-color: red;
    color: #f1f3f7;
}
.square3 {
    border-radius: 14px;
    z-index: 3;
    position: absolute;
    left: 1100px;
    top: 1416px;
    height: 40px;
    width: 36px;
    background-color: red;
    color: #f1f3f7;
}
